

mat-grid-tile {
    height: calc(250% + 0px) !important;
}

.mat-grid-tile {
    height: calc(250% + 0px) !important;
}

mat-grid-list {
    height: calc(40% + 0px) !important;
}

.mat-grid-list {
    height: calc(40% + 0px) !important;
}

.mat-grid-tile-content {
    height: 78% !important;
}